Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.opensdf
ipch/
*.sdf
#ignore thumbnails created by windows
#Ignore files build by Visual Studio
ipch/重采样-8685569c/pca ges rec-124444b9.ipch
PCA ges rec.sdf
*.orig
*.ipch